h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Cinzel', serif;
    font-size: 60px;


}
#list{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
} 
ul{
    display: flex;
    flex-wrap: wrap;
}

.cover{
    border-radius: 50%;

}
.card-title{
    font-family: 'Cinzel', serif;
    font-size: 20px;
}

.album{
    border: double rgb(75, 73, 73);
    align-items: center;
    margin: 20px;
    padding: 5px;
    background-color: rgba(119, 151, 211, 0.514);
    border-radius: 30px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.square{
    border-radius: none;

}